<img class="login-title" src="https://thelamba.s3.amazonaws.com/mystory.jpg" alt="mystory">
<div class="section">
    <p class="lead">A little collection of stories from you!</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Log In With Google
    </a>
</div>